  body{
    background-color: #e7e7de;
  }

  hr{
    background-color: #e7e7de;
    border-color: black;
    border-style: none none none;
    width: 5%;
    border-width: 5px;

  }
  img{
    width: 100px;
  }
  h1{
    color: #008891;
    font-family: Helvetica;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 22.5px;

  }
  h3{
    color: #008891;
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 22.5px;

  }

  p{
    color: #903749;
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 22.5px;
  }

  li{
    color: #903749;
    font-family: Helvetica;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 22.5px;
  }
